body {
    font-family: 'lato', sans-serif;
  }
  .container {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
  }
  h2 small {
    font-size: 0.5em;
  }
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .responsive-table .col-1 {
    flex-basis: 14%;
  }
  .responsive-table .col-2 {
    flex-basis: 14%;
  }
  .responsive-table .col-3 {
    flex-basis: 14%;
  }
  .responsive-table .col-4 {
    flex-basis: 14%;
  }
  .responsive-table .col-5 {
    flex-basis: 14%;
  }
  .responsive-table .col-6 {
    flex-basis: 14%;
  }
  .responsive-table .col-7 {
    flex-basis: 14%;
  }
  @media (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .col:before {
      color: #6C7A89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }

  .link1 {  
    text-decoration: none;
    color: var(--light);
    background: var(--background);
    box-shadow: .4rem .4rem 2.4rem .2rem var(--shadow-1);
    border-radius: 100rem;  
    transition: .2s;
    padding: 1vw;
    border: none;
  }
  
  .link1:hover,
  .link1:focus {
    transform: translateY(-.2rem);
    box-shadow: 0 0 4.4rem .2rem var(--shadow-2);
    background: red;
  }
  
  .link1:focus {
    box-shadow:
      0 0 4.4rem .2rem var(--shadow-2),
      0 0 0 .4rem var(--global-background),
      0 0 0 .5rem var(--focus);
  }

  .nofound{
    margin: 0 auto !important;
    font-size: 3vw;
    color: black;
  }